@CHARSET "UTF-8";


fieldset{
	
	text-align: center;
	size: pt15;

}


h3 {
	
	size:pt12;
	color: black;
}

iframe{
	
	width: 800px;
	height: 400px;
}

ul{
	width:800px;
}

hr {
	
	width:800px;
	margin-left:0px;
}

span {
	
	
}
td{
	text-align: center;
}